<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<%-blocks.header%>
		</header>
		<section>
			<h1><$= title %></h1>
			<%-body -%>
		</section>
		<footer>
			<%-blocks.footer%>
		</footer>
	</body>
</html>
